<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" /> <!-- For the profile template -->
        <link th:href="@{/assets/dist/css/profile.css}" rel="stylesheet" id="profile-css" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <title>Profile</title>
    </head>

    <!--
        Attribute th:field will replace attributes value, id and name in your input tag.

        Instead, use plain th:id, th:value and th:name without using th:field. Then you will get what you wanted.
    -->
    <body>

        <!-- Header -->
        <header class="navbar navbar-default navbar-static-top" id="header">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">WebGE <i>by URJC</i></a>
                </div>

                <div class="collapse navbar-collapse header-collapse">
                    <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/user/experiment/experimentRepository}">Experiments</a></li>
                        <li><a th:href="@{/user/profile}">Profile</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Submenu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Option One</a></li>
                                <li><a href="#">Option Two</a></li>
                                <li><a href="#">Option Three</a></li>
                                <li><a href="#">Option Four</a></li>
                            </ul>
                        </li>
                    </ul>

                    <p sec:authorize="isAuthenticated()" class="navbar-text navbar-right btn btn-default"><a  th:href="@{/logout}">Logout</a></p>
                    <p sec:authorize="isAnonymous()" class="navbar-text navbar-right btn btn-default"><a th:href="@{/registration}">Registration</a></p>
                    <p sec:authorize="isAnonymous()" class="navbar-text navbar-right btn btn-default"><a th:href="@{/user}">Login</a></p>

                </div>
            </div>
        </header>
        <!-- END Header -->

        <!-- Main -->
        <div class="container">
            <div id="forms" class="panel panel-default">
                <header class="panel-heading">
                    <h2>Profile information</h2>
                </header>

                <section class="panel-body center-block">
                    <div class="card hovercard">
                        <div class="card-background">
                            <img class="card-bkimg" src="https://api.adorable.io/avatars/285/abott@adorable.png" />
                            <!-- http://lorempixel.com/850/280/people/9/ -->
                        </div>
                        <div class="useravatar">
                            <img alt="" src="https://api.adorable.io/avatars/285/abott@adorable.png"/>
                        </div>
                        <div class="card-info">
                            <b><span class="card-title" th:text="${userLogged.getUsername()}"></span></b>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" id="userInformation" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <div class="hidden-xs">User information</div>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="workStudyInformation" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                                <div class="hidden-xs">Work / Study information</div>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="updatePassword" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                <div class="hidden-xs">Update password</div>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="aboutMe" class="btn btn-default" href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                <div class="hidden-xs">About me</div>
                            </button>
                        </div>
                    </div>
                </section>

                <div class="well">
                    <div class="tab-content">
                        <section id="tab1" class="tab-pane fade in active">
                            <form th:action="@{/user/updateUserBasicInfo}" th:object="${userBasicInfo}" class="form-horizontal" role="form" method="post">
                                <div th:if="${param.success}">
                                    <div class="alert alert-info">
                                        Successfully basic info updated.
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6 col-sm-6">
                                        <label class="control-label" for="firstName">First name:</label>
                                        <input type="text" class="form-control" th:name="firstName" th:id="firstName" id="firstName" th:value="${userLogged.getFirstName()}" />
                                    </div>
                                    <div class="form-group col-lg-6 col-sm-6">
                                        <label class="control-label" for="lastName">Last name:</label>
                                        <input type="text" class="form-control" th:name="lastName" th:id="lastName" id="lastName" th:value="${userLogged.getLastName()}"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6 col-sm-6">
                                        <label class="control-label" for="email">Email:</label>
                                        <input type="email" class="form-control" th:name="email" th:id="email" id="email" th:value="${userLogged.getEmail()}"/>
                                    </div>
                                    <div class="form-group col-lg-6 col-sm-6">
                                        <label class="control-label" for="phone">Phone Number:</label>
                                        <input type="tel" class="form-control" th:name="phone" th:id="phone" id="phone" th:value="${userLogged.getPhone()}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <label class="control-label" for="addressDirection">Direction:</label>
                                        <input type="text" class="form-control" th:name="addressDirection" th:id="addressDirection" id="addressDirection" th:value="${userLogged.getAddressDirection()}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4 col-sm-4">
                                        <label class="control-label" for="city">City:</label>
                                        <input type="text" class="form-control" th:name="city" th:id="city" id="city" th:value="${userLogged.getCity()}"/>
                                    </div>

                                    <div class="form-group col-lg-4 col-sm-4">
                                        <label class="control-label" for="state">State/Province:</label>
                                        <input type="text" class="form-control" th:name="state" th:id="state" id="state" th:value="${userLogged.getState()}"/>
                                    </div>

                                    <div class="form-group col-lg-4 col-sm-4">
                                        <label class="control-label" for="zipcode">Zipcode:</label>
                                        <input type="text" class="form-control" th:name="zipcode" th:id="zipcode" id="zipcode" th:value="${userLogged.getZipcode()}"/>
                                    </div>
                                </div>

                                <br/>

                                <div class="row">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <button type="submit" class="btn-primary btn-lg center-block">Update</button>
                                    </div>
                                </div>
                            </form>
                        </section>

                        <section class="tab-pane fade in" id="tab2">
                            <div class="box">
                                <form th:action="@{/user/updateStudy}" th:object="${userStudy}" class="form-horizontal" role="form" method="post">
                                    <div class="row">
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <label class="control-label" for="studyInformation">Study:</label>
                                            <input class="form-control" type="text" th:name="studyInformation" th:id="studyInformation" id="studyInformation" th:value="${userLogged.getStudyInformation()}"/>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <label class="control-label" for="workInformation">Work:</label>
                                            <input class="form-control" type="text" th:name="workInformation" th:id="workInformation" id="workInformation" th:value="${userLogged.getWorkInformation()}"/>
                                        </div>
                                    </div>

                                    <br/>

                                    <div class="row">
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <button type="submit" class="btn-primary btn-lg center-block">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>

                        <section class="tab-pane fade in" id="tab3">
                            <div class="box">
                                <form th:action="@{/user/updateUserPassword}" th:object="${userPassword}" class="form-horizontal" role="form" method="post">
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <label class="control-label" for="password">Password:</label>
                                            <input class="form-control" type="password" th:name="password" th:id="password" id="password" />
                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <label class="control-label" for="confirmPassword">Confirm:</label>
                                            <input class="form-control" type="password" th:name="confirmPassword" th:id="confirmPassword" id="confirmPassword" />
                                        </div>
                                    </div>

                                    <br/>

                                    <div class="row">
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <button type="submit" class="btn-primary btn-lg center-block">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>

                        <section class="tab-pane fade in" id="tab4">
                            <div class="box">
                                <form th:action="@{/user/updateAboutMe}" th:object="${userAboutMe}" class="form-horizontal" role="form" method="post">
                                    <div class="row">
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <label class="control-label" for="aboutMe">About Me:</label>
                                            <textarea class="form-control" rows="7" th:name="aboutMe" th:id="aboutMe" id="aboutMe"  th:inline="text">[[${userLogged.getAboutMe()}]]</textarea>
                                        </div>
                                    </div>

                                    <br/>

                                    <div class="row">
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <button type="submit" class="btn-primary btn-lg center-block">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>


    <!-- JS -->
    <script>
        $(document).ready(function() {
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
        });
    </script>
    <!-- END JS -->

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    </body>
</html>