<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.css}" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <title>Gramatical evaluation App</title>
    </head>
    <body>

        <!-- Header -->
        <header class="navbar navbar-default navbar-static-top" id="header">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">WebGE <i>by URJC</i></a>
                </div>

                <div class="collapse navbar-collapse header-collapse">
                    <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/user/experiment/experimentRepository}">Experiments</a></li>
                        <li><a th:href="@{/user/profile}">Profile</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Submenu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Option One</a></li>
                                <li><a href="#">Option Two</a></li>
                                <li><a href="#">Option Three</a></li>
                                <li><a href="#">Option Four</a></li>
                            </ul>
                        </li>
                    </ul>

                    <p sec:authorize="isAuthenticated()" class="navbar-text navbar-right btn btn-default"><a  th:href="@{/logout}">Logout</a></p>
                    <p sec:authorize="isAnonymous()" class="navbar-text navbar-right btn btn-default"><a th:href="@{/registration}">Registration</a></p>
                    <p sec:authorize="isAnonymous()" class="navbar-text navbar-right btn btn-default"><a th:href="@{/user}">Login</a></p>

                </div>
            </div>
        </header>
        <!-- END Header -->

        <!-- Main -->
        <div class="container">
            <div id="forms" class="panel panel-default">
                <header class="panel-heading">
                    <h2>Welcome</h2>
                </header>

                <section class="panel-body center-block text-center" style="width: 330px;">
                    <div class="form-group col-lg-12">
                        <a th:href="@{/user}" class="btn-primary btn-lg">Log in</a>
                        <a th:href="@{/registration}" class="btn-primary btn-lg">Sign in</a>
                    </div>
                    <div class="form-group col-lg-12">
                        <a href="#" class="btn-default btn-lg">Learn More</a>
                    </div>
                </section>
            </div>
        </div>
        <!-- END Main -->

    </body>
</html>