<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--[if lte IE 8]><script th:href="@{/assets/js/ie/html5shiv.js}" rel="stylesheet" media="screen" /><![endif]-->
        <link th:href="@{/assets/css/main.css}" rel="stylesheet" />
        <!--[if lte IE 8]><link th:href="@{/assets/css/ie8.css}" rel="stylesheet" /><![endif]-->

        <title>Welcome index</title>
    </head>
    <body class="landing">
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header">
                <h1><a th:href="@{/}">WebGE</a> by URJC</h1>
                <nav id="nav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <a href="#" class="icon fa-angle-down">Layouts</a>
                            <ul>
                                <li><a href="generic.html">Generic</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="elements.html">Elements</a></li>
                                <li>
                                    <a href="#">Submenu</a>
                                    <ul>
                                        <li><a href="#">Option One</a></li>
                                        <li><a href="#">Option Two</a></li>
                                        <li><a href="#">Option Three</a></li>
                                        <li><a href="#">Option Four</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div sec:authorize="isAuthenticated()">
                                <a class="button" th:href="@{/logout}">Logout</a>
                            </div>

                            <div sec:authorize="isAnonymous()">
                                <a class="button" th:href="@{/user}">Login</a>
                                <a class="button special" th:href="@{/registration}">Register</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>

            <!-- Banner -->
            <section id="banner">
                <h2>Welcome</h2>
                <div>
                    <ul class="actions">
                        <li><a href="/user" th:href="@{/user}" class="button special">Log in</a></li>
                        <li><a href="/registration" th:href="@{/registration}" class="button special">Sign in</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="button">Learn More</a></li>
                    </ul>
                </div>
            </section>

            <!-- Scripts -->
            <script src="../resources/static/assets/js/jquery.min.js"></script>
            <script src="../resources/static/assets/js/jquery.dropotron.min.js"></script>
            <script src="../resources/static/assets/js/jquery.scrollgress.min.js"></script>
            <script src="../resources/static/assets/js/skel.min.js"></script>
            <script src="../resources/static/assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="../resources/static/assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="../resources/static/assets/js/main.js"></script>
        </div>
    </body>
</html>